.nav{
    vertical-align: top;
}
.nav ul{
    list-style: none;
}
.nav li{
    margin-left: 56px;
    display: inline-block;
    position: relative;
}
.nav li a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.8px;
    color: #f1f1f1;
    text-decoration: none;
}
.menu:hover{
    transition-duration: 0.8s;
    border-bottom: 2px solid #F1F0EB;
}
.right-menu a{
    color: #f1f1f1;
    font-size: 24px;
    text-decoration: none;
    vertical-align: top;
}
.account{
    margin-left: 20px;
}
.logo img{
    width: 25%;
}
.banner{
    background-image: url(img/shifaaz-shamoon-Rl9l9mL6Pvs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.content{
    position: absolute;
    bottom: 180px;
    left: 265px;
}
.content h1{
    color: #f1f1f1;
}
.content h4{
    margin-top: 10px;
    margin-bottom: 50px;
    color: #f1f1f1;
}
.btn{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #f1f1f1;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 8px 24px;
    background-color: #0e3037;
    border-radius: 12px;
    text-transform: uppercase;
}
.btn:hover{
    transition-duration: 0.8s;
    background-color: #bae1e9;
    color: #1f1f1f;
}
.sub-menu{
    list-style: none;
    width: 220px;
    background-color: #132e4ebc;
    text-align: left !important;
    padding: 4px;
    margin: 20px;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.6s;
}
.sub-menu li{
    margin: 10px;
    display: block !important;
}
.sub-menu li a{
    text-decoration: none;
    color: #bdbdbd;
    font-size: 16px;
    font-weight: 400;
    display: block;
}
.nav li:hover .sub-menu{
    visibility: visible;
    opacity: 1;
}
.sub-menu li a:hover{
    transition-duration: 0.8s;
    color: #f1f1f1;
}
.social-menu{
    position: absolute;
    top: 50%;
    left: 90px;
}
.social-menu ul{
    list-style: none;
}
.social-menu li{
    text-decoration: none;
}
.social-menu li a{
    color: white;
    font-size: 22px;
    display: block;
    margin-top: 20px;
}
.section-1{
    background-color: #0e3037;
    padding-top: 24px;
    padding-bottom: 24px;
}
.sub-head-1{
    width: 178px;
    color: #f1f1f1;
    margin-bottom: 4px;
}
.headline-1{
    color: #bae1e9;
    margin-bottom: 24px;
}
.img-1{
    width: 600px;
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 5px 6px 8px #bae1e979;
}
.img-1 img{
    height: 100%;
}
.body-16-regular{
    margin-bottom: 50px;
    color: #f1f1f1;
}
.btn-2{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #0e3037;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 24px;
    background-color: #bae1e9;
    border-radius: 12px;
    text-transform: uppercase;
}
.btn-2:hover{
    background-color: #79e1c3;
    transition-duration: 0.8s;
}
.section-2{
    background-color: #bae1e9;
    padding-top: 24px;
    padding-bottom: 24px;
}
.img-2{
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 5px 6px 10px #0a22276f;
    
}
.layer{
    width: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.433);
    border-radius: 12px;
    transition-duration: 1s;
    opacity: 1;
}
.img-2:hover .layer{
    width: 0;
    opacity: 0;
}
.stay{
    background-image: url(img/stay.jpg);
}
.gastronomy{
    background-image: url(img/food.jpg);
}
.activity{
    background-image: url(img/activity.jpg);
}
.culture{
    background-image: url(img/culture.jpg);
}
.sub-head-2{
    margin-bottom: 10px;
}
.margin-bot-20{
    margin-bottom: 20px;
}
.body-16-600{
    text-decoration: none;
    position: absolute;
    color: #f1f1f1;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.section-3{
    background-color: #0e3037;
    padding-top: 24px;
    padding-bottom: 24px;
}
.box{
    width: 400px;
    position: relative;
}
.img-3{
    width: 300px;
    height: 400px;
    border-radius: 12px;
    box-shadow: 5px 6px 8px #b8dde455;
    overflow: hidden;
}
.img-3 img{
    width: 100%;
}
.content-3{
    position: absolute;
    top: 20px;
    left: 30px;
}
.content-3 a{
    text-decoration: none;
    color: #1f1f1f;
    transition-duration: 0.8s;
}
.content-3 a:hover{
    color: #225d68;
}
.cost{
    background-color: #008ae0;
    padding: 8px 10px;
    border-radius: 12px;
    position: absolute;
    bottom: 20px;
    left: 30px;
    transition-duration: 0.8s;
}
.cost:hover{
    background-color: #00ab7b;
}
.icon{
    position: absolute;
    top: 20px;
    right: 128px;
}
.icon a{
    color: #1f1f1f;
    font-size: 28px;
    text-decoration: none;
}
.btn-3{
    position: absolute;
    bottom: 20px;
    right: 150px;
}
.btn-3 a{
    text-decoration: none;
    color: #1f1f1f;
}
.btn-3 a:hover{
    color: #1b7688;
}
.icon-2{
    position: absolute;
    bottom: 13px;
    right: 128px;
}
.icon-2 a{
    text-decoration: none;
    font-size: 20px;
    color: #1f1f1f;
}
.icon-2 a:hover{
    color: #1b7688;
}
.banner-2{
    height: 580px;
    overflow: hidden;
    position: relative;
}
.banner-2 img{
    width: 100%;
}
.box-2{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
p1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    line-height: 98%;
    letter-spacing: 0.8px;
    color: #0e3037;
    text-shadow: 3px 4px 5px #237889bb;
}
p2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 98%;
    letter-spacing: 0.8px;
    margin-left: 12px;
    color: #0e3037;
    text-shadow: 3px 4px 5px #237889bb;
}
.content-4{
    margin-top: 15px;
    margin-bottom: 30px;
}
p3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18.4px;
    line-height: 98%;
    letter-spacing: 0.8px;
    color: #0e3037;
}
.btn-4{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #f1f1f1;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 24px;
    background-color: #0f6071;
    border-radius: 12px;
    text-transform: uppercase;
}
.btn-4:hover{
    background-color: #74dede;
    color: #1f1f1f;
    transition-duration: 0.8s;
}
.banner-2{
    background: url(img/banner-2.jpg);
    height: 600px;
    background-position: center;
    background-size: cover;
    padding-top: 24px;
    padding-bottom: 24px;
}
.icon-5{
    color: white;
    font-size: 50px;
    text-decoration: none;
    vertical-align: middle;
    transition-duration: 0.8s;
}
.icon-5:hover{
    color: #80fffb;
}
.btn-5{
    margin-top: 20px;
}
.text{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #f1f1f1;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    vertical-align: middle;
    transition-duration: 0.8s;
}
.text:hover{
    color: #80fffb;
}
.w-100{
    width: 100%;
}
.body-15-line{
    text-shadow: 3px 4px 5px #0e3037c6;
}
.section-6{
    background-color: #bae1e9;
    padding-top: 24px;
    padding-bottom: 24px;
}
.content-6{
    margin-top: 35px;
    margin-bottom: 10px;
}
.italic{
    font-style: italic;
}
.img-7{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url(img/fb2.jpg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.img-8{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url(img/fb3.jpg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.pad-14{
    padding-right: 14px;
}
.banner-7{
    height: 600px;
    background: linear-gradient(rgba(31, 28, 25, 0.5),rgba(31, 28, 25, 0.5)),url(img/booking2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.box-7{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.headline-7{
    text-shadow: 4px 5px 4px #174e59;
}
.content-7{
    margin-top: 10px;
    margin-bottom: 50px;
}
label{
    position: relative;
}
input{
    width: 460px;
    height: 50px;
    border: none;
    padding: 0 16px;
}
button{
    height: 50px;
    position: absolute;
    top: -12.2px;
    right: 0;
    bottom: 0;
    background-color: #bae1e9;
    color: #0e3037;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.8px;
    padding: 0 16px;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover{
    transition: 0.8s;
    background-color: #4cc0d7;
}
.footer{
    background-color: #0e3037;
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo-f img{
    width: 38%;
    margin-bottom: 10px;
}
.menu-f li{
    list-style: none;
}
.menu-f li a{
    text-decoration: none;
    color: #c8c8c8;
}
.tit{
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}
.icon-f{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: #c8c8c8;
}
.add{
    line-height: 22px;
}
.tit:hover{
    color: #f1f1f1;
    transition-duration: 0.8s;
}
.menu-f li:hover{
    color: #f1f1f1;
    transition-duration: 0.8s;
}
.menu-f li a:hover{
    color: #f1f1f1;
    transition-duration: 0.8s;
}
.line-f{
    border-bottom: 0.8px solid #d8d8d8;
}